
*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
components/plnx_workspace
components/yocto

project-spec/configs/*.dtb
project-spec/configs/*.pp
project-spec/hw-description/*.bit
project-spec/configs/ip_drv_map.yaml
project-spec/configs/petalinux_config.yaml
project-spec/configs/.statistics
project-spec/configs/DRVLISTConfig.cmake
.petalinux
README
hardware
